#nav {
    height: 70px;
}

.navbar-brand {
    font-weight: 500;
    color: #0d6efd;
}

img {
    width: 100%;
    height: 550px;
}

.btn-reg {
    border-radius: 20px;
    padding: 0px 30px;
}

.display-3 {
    font-weight: 500;
    font-size: 55px;
    line-height: 80px;
    margin-bottom: 20px;
}

.display-6 {
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 40px;
}

.btn-daftar {
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 10px 40px;
    font-weight: 500;
}

.materi {
    margin-top: 70px;
    margin-bottom: 70px;
}

footer p {
    border-top: 1px solid rgb(215, 213, 213);
    height: 70px;
    line-height: 70px;
}

span {
    font-weight: 500;
    color: #0d6efd;
}